body {
    padding-top: 20px;
}

#page {
    padding-bottom: 30px;
}

.pointer {
    cursor: pointer;
}

.red {
    color: red;
}

#advanced-options {
    margin-top: 10px;
}

.nomb {
    margin-bottom: 0;
}

.unambiguous {
    font-family: 'Source Code Pro', sans-serif;
}

#settingsRight {
    margin-left: 89px;
}

ul.typeahead.dropdown-menu {
    z-index: 1200;
}

#tags-and-filters {
    margin-top: 20px;
}

#tag-list li {
    display: inline-block;
    margin-right: 10px;
}

#tag-list li:last-child {
    margin-right: 0;
}

#filter {
    margin-bottom: 10px;
}

#master {
    z-index: 1070;
}

.passwords td:first-child .btn.btn-info {
    display: block;
    margin-bottom: 5px;
}

#master-password,
#new-master-password {
    width: 520px;
}

form.edit-password #secret-group .help-block {
    margin-top: 10px;
    margin-bottom: 0px;
}

form.edit-password #strength-meter {
    margin-top: 5px;
}

form.edit-password #strength-meter .progressbar {
    display: inline-block;
    width: 235px;
    margin-right: 10px;
}

form.edit-password #strength-meter .progressbar .progress {
    margin-bottom: 0px;
    height: 10px;
}

form.edit-password #strength-meter .verdict {
    display: inline-block;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #DDD;
    padding: 5px 10px 3px 10px;
    background-color: #F9F9F9;
}

footer ul {
    list-style: none;
    margin: 0;
}

footer ul li {
    display: inline-block;
}
