body {
    padding-top: 20px;
}

.pointer {
    cursor: pointer;
}

.red {
    color: red;
}

.row.settings {
    margin: 10px 0 0 0;
}

.row.settings .pull-right {
    position: relative;
    right: 20px;
}

ul.typeahead.dropdown-menu {
    z-index: 1200;
}

#tag-list li {
    display: inline-block;
    margin-right: 10px;
}

#tag-list li:last-child {
    margin-right: 0;
}

#filter {
    margin-bottom: 10px;
}

#master {
    z-index: 1070;
}

.password-list {
    margin-top: 20px;
}

.passwords td:first-child .btn.btn-info {
    display: block;
    margin-bottom: 5px;
}

#master-password,
#new-master-password {
    width: 520px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #DDD;
    padding: 5px 10px 3px 10px;
    background-color: #F9F9F9;
}

footer ul {
    list-style: none;
    margin: 0;
}

footer ul li {
    display: inline-block;
}