<%text>
<div class="row"><div class="span12">
    <h3>Add a new password</h3>
    <form class="form-horizontal edit-password">
        {{partial "edit-password"}}
        <div class="form-actions">
            {{#view Yith.SaveButton}}Create{{/view}}
            <button class="btn" {{action "cancelNewPassword"}}>Cancel</button>
        </div>
    </form>
</div></div>
</%text>
